$breakpoint-desktop: 1280px;
$breakpoint-desktop-1024: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

$color-primary: #17374d;
$color-secondary: #446985;

$color-font-primary: #172b4d;
$color-font-secondary: #172b4d;

$header-height: 50px;
$footer-height: 32px;
