@import './variables.scss';

.main {
  width: 100%;
  height: calc(100vh - $header-height - $footer-height);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.textSection {
  flex: 1 0 auto;
  position: relative;
  width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-tablet) {
    width: auto;
  }
}

.mainText,
.remark {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  color: #17374D;
}

.mainText {
  width: 250px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  font-size: 2.6rem;

  .headerStart {
    margin-right: 0.7rem;
  }
}

.remark {
  font-size: 1.6rem;
  right: 0;
  align-self: flex-end;
  margin-bottom: 0;

  @media (max-width: $breakpoint-tablet) {
    font-size: 1.2rem;
  }
}

.wrapper {
  flex: 1 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 3rem;

  @media (max-width: $breakpoint-desktop-1024) {
    overflow-x: scroll;
    padding: 0 2rem;
    justify-content: start;
  }
}

.aboutBlock,
.descBlock,
.techBlock {
  flex: 0 0 28.5rem;
  height: 36.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #446985;
  opacity: 0.9;
  border-radius: 10px;
}

.descBlock {
  flex: 0 0 300px;
  width: 300px;
}

.blockHeader {
  width: max-content;
  padding: 1rem 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 130%;
  color: #ffffff;
  border-bottom: .2rem solid #ffffff;
}

.descriptionWrapper,
.technologiesWrapper {
  padding: 0 2.8rem;
}

.teamWrapper {
  padding: 0 2.8rem 2.8rem 2.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teammate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.teammateInfo {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.name,
.position {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  color:#ffffff;
}

.name {
  font-size: 2rem;
}

.position {
  font-size: 1.2rem;
}

.description {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.technologiesWrapper {
  margin-top: 4.5rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
