@import '../../styles/variables.scss';

.header {
  background-color: #17374d;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
  gap: 12px;
}

.navLink {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: #bad1e7;
}
