$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.9rem 10.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $breakpoint-tablet) {
    padding: 1.1rem 2rem;
  }
}

.year,
.githubSection {
  color: #ffffff;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 17px;
}

.githubSection {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2.7rem;

  @media (max-width: $breakpoint-tablet) {
    width: 33%;
    gap: initial;
   }
}

.wrapper {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.wrapper p {
  margin: 0;
  display: block;
  letter-spacing: 0.16em;

  @media (max-width: $breakpoint-desktop) {
   display: none;
  }
}

.githubLogo {
  width: 3.9rem;
  height: 3.8rem;

  @media (max-width: $breakpoint-tablet) {
    width: 2.3rem;
    height: 2.2rem;
  }
}

.rssLogo {
  width: 17.5rem;
  height: 6.5rem;

  @media (max-width: $breakpoint-desktop) {
    width: 6rem;
    height: 2.2rem;
  }
}

.yearSection,
.courseLogoSection {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    width: 33%;
  }

  @media (max-width: $breakpoint-phone) {
    width: auto;
  }  
}

.yearSection {
  justify-content: start;
}

.courseLogoSection {
  justify-content: end;
}