@import '../../styles/variables.scss';

.footer {
  height: $footer-height;
  width: 100%;
  padding: 2.9rem 10.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  
  @media (max-width: $breakpoint-tablet) {
    padding: 1.1rem 2rem;
  }
}

.year,
.githubSection {
  color: #ffffff;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 17px;
}

.githubSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.7rem;

  @media (max-width: $breakpoint-tablet) {
    width: 33%;
    gap: initial;
   }
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper p {
  @media (max-width: $breakpoint-desktop) {
   display: none;
  }
}

.link {
  display: flex;
  align-items: center;
}

.githubLogo {
  width: 3.9rem;
  height: 3.8rem;

  @media (max-width: $breakpoint-tablet) {
    width: 2.3rem;
    height: 2.2rem;
  }
}

.rssLogo {
  width: 60px;
  height: 22px;

  @media (max-width: $breakpoint-desktop) {
    width: 60px;
    height: 22px;
  }
}

.yearSection,
.courseLogoSection {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    width: 33%;
  }

  @media (max-width: $breakpoint-phone) {
    width: auto;
  }  
}

.yearSection {
  justify-content: start;
}

.courseLogoSection {
  justify-content: end;
}